run:
  deadline: 1m

linters:
  enable-all: true
  disable:
    - gocyclo
    - golint
    - maligned
    - errcheck
    - staticcheck
    - interfacer
    - unconvert
    - nakedret
    - lll
    - gochecknoglobals
    - gocritic
    - gochecknoinits
    - scopelint
    - stylecheck
