certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
docker==7.1.0
idna==3.10
pbr==6.1.1
requests==2.32.3
setuptools==79.0.0
six==1.17.0
testresources==2.0.2
urllib3==2.4.0
websocket-client==1.8.0
